* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif,serif;
}

/*Cabeçalho*/
/* Container centralizado */
.container {
  max-width: 1149px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Cabeçalho */
.header {
  background-color: black;
  padding: 20px 0;
  color: white;
  /* Faz a navbar "colar" no topo ao rolar a página */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* garante que fique acima dos outros elementos */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.hero {
  padding-top: 120px; /* espaço para o cabeçalho fixo */
}

/* Flexbox para alinhar logo e menu */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* adiciona quebra de linha se precisar */
}

/* Logo */
.logo-img {
  height: 48px; 
}

/* Menu de navegação */
.nav {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav a {
  color:  white;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  transition: color 0.3s ease;
}
/*Cabeçalho*/

/*Hero*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 700px;
  padding: 0 20px;

  position: relative;
  background: url('image/Images/Hero.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
}

/* Adiciona um overlay escuro por cima da imagem */
/*Decidir se vai usar ou não*/
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* escurece a imagem */
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}


.hero h1 {
  font-size: 56px;
  margin-bottom: 30px;
  color: #fff;
}

.hero p {
  font-size: 24px;
  max-width: 600px;
  margin: 0 auto 30px;
  color: #ddd;
}

.btn-cta {
  background-color: #25D366;
  color: white;
  padding: 12px 28px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn-cta:hover {
  background-color: #1da851;
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
  .hero {
    padding: 80px 15px;
    min-height: 400px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }
}
/*Hero*/

/*Galeria*/
.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
}

.galeria-section {
  background-color: #D2B48C;
  padding: 60px 0;
  width: 100%;
}

.galeria-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

.galeria img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 4px;
}

.galeria img:hover {
  transform: scale(1.05);
}

/* Modal (imagem ampliada) */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-conteudo {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
}

.fechar {
  position: absolute;
  top: 30px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  color: white;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  z-index: 1000;
}

.seta-esquerda {
  left: 20px;
}

.seta-direita {
  right: 20px;
}

/* Responsividade para telas pequenas (como celulares) */
@media (max-width: 600px) {
  .galeria {
    gap: 8px;
  }

  .galeria img {
    max-width: 100%;
  }

  .fechar {
    font-size: 30px;
    right: 20px;
  }
}
/*Galeria*/

/*Onde estamos section*/
#local_section{
  width: 100%;
  height: 600px;
  max-height: 1000px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Div para dispositivos menores*/
@media (max-width: 700px){
  #local_section{
    height: 1000px;
  }
}

/*Div que controla mapa e informações de contato*/
#local_div{
  width: 90%;
  display: flex;
  flex-direction: row;
}
/*Div para dispositivos menores*/
@media (max-width: 768px){
  #local_div{
    flex-direction: row;
  }
}
/*Div para Celulares*/
@media (max-width: 640px){
  #local_div{
    flex-direction: column;
  }
}

/*Div mapa*/
#local_map_div{
  width: 100%;
  max-width: 700px;
  margin: none;
  aspect-ratio: 16 / 9;
}
/*Div para dispositivos menores*/
@media (max-width: 768px){
  #local_map_div{
    aspect-ratio: 4 / 3;
  }
}
/*Div para Celulares*/
@media (max-width: 500px){
  #local_map_div{
    aspect-ratio: 1 / 1;
  }
}

/*Mapa iframe*/
#iframe_map{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}

/*Onde estamos span*/
#where_we_are_title{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  font-size: 38px;
  color: #fff;
}

/*Div informações de contato*/
#contact_div{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Div para dispositivos menores*/
@media (max-width: 768px){
  #contact_div{
    padding: 20px;
  }
}
/*Div para Celulares*/
@media (max-width: 500px){
  #contact_div{
    padding: 30px;
  }
}

/*Div referente ao texto da localização*/
#loc_text_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 10px;
  font-size: 22px;
}
/*Div para dispositivos menores*/
@media (max-width: 1024px){
  #loc_text_div{
    font-size: 16px;
  }
}
/*Div para Celulares*/
@media (max-width: 500px){
  #loc_text_div{
    padding: 16px;
  }
}

/*Div referente ao texto de telefone*/
#phone_text_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 10px;
  font-size: 22px;
}
/*Div para dispositivos menores*/
@media (max-width: 1024px){
  #phone_text_div{
    font-size: 16px;
  }
}
/*Div para Celulares*/
@media (max-width: 500px){
  #phone_text_div{
    padding: 16px;
  }
}

/*Botão de contato do WhatsApp*/
#whatsapp_button{
  display: inline-block;
  border: none;
  outline: none;
  background-color: #D2B48C;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
#whatsapp_button:hover{
  background-color: #796750;
}
/*Botão para dispositivos menores*/
@media (max-width: 600px){
  #whatsapp_button{
    font-size: 20;
  }
}
/*Botão para Celulares*/
@media (max-width: 500px){
  #whatsapp_button{
  }
}


/*Botão de voltar ao topo*/
#bk_top_button{
  display: none;
  position: fixed; /*Travar a posição*/
  bottom: 20px;
  right: 30px;
  z-index: 99; /*Para não ter sobreposição*/
  border: none;
  outline: none;
  background-color: #fff;
  color: black;
  cursor: pointer; /*Adicionar ponteiro de mouse com o hover*/
  padding: 15px;
  border-radius: 12px;
  font-size: 18px;
}
#bk_top_button:hover{
  background-color: #555;
}
/*Botão de voltar ao topo para dispositivos menores*/
@media screen and (max-width: 768px){
  #bk_top_button{
    padding: 12px;
    font-size: 16px;
    bottom: 15px;
    right: 15px;
  }
}
/*Botão de voltar ao topo para Celulares*/
@media screen and (max-width: 500px){
  #bk_top_button{
    padding: 10px;
    font-size: 14px;
    bottom: 10px;
    right: 10px;
    border-radius: 8px;
  }
}